/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .banner-content-body {
        align-items: center;
        height: 90vh;
        display: block;
        position: relative;
        top: 100px;
    }
    .navbar-light .navbar-brand {
        width: 100px;
    }
    .main-container{
        overflow-x: hidden;
    }
    .new-view-slider-par-body .owl-carousel .owl-nav button.owl-next {
        left: 0px;
    }
    .new-view-slider-par-body .owl-carousel .owl-nav button.owl-prev {
        right: 0px;
    }
    .news-views-item-body {
        display: block;
    }
    .news-views-item-content {
        margin-top: 38px;
        margin-left: 0px;
    }
    .news-views-item-body-inner {
        width: 100%;
    }
    .main-body-row {
        height: 100vh;
    }
    .common_content p {
        font-size: 11px;
    }
    .circle_9 {
        top: 0%;
        right: 0%;
    }
    .circle_8 {
        top: 0%;
        left: 0%;
    }
    .circle_7 {
        top: 30%;
        left: 0%;
    }
    .circle_6 {
        top: 14%;
        right: 32%;
    }
    .circle_5 {
        bottom: 47%;
        right: 4%;
    }
    .circle_4 {
        bottom: 26%;
        left: 1%;
    }
    .circle_3 {
        bottom: 25%;
        left: 59%;
    }
    .circle_2 {
        bottom: 2%;
        left: 60%;
    }
    .circle_1 {
        bottom: 2%;
        left: 2%;
    }
    .common_c {
        display:none;
    }
    .s_left_carosule {
        width: 100%;
    }
    .s_right_carosule {
        width: 100%;
        left: 0%;
    }
    .s_left_carosule .slick-dots {
        margin-bottom: -50px;
    }
    
}
@media (min-width: 200px) and (max-width: 413.98px) { 
    .circle_2 {
        bottom: 2%;
        left: 55%;
    }
    .circle_3 {
        bottom: 25%;
        left: 55%;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .banner-content-body {
        align-items: center;
        height: 90vh;
        display: block;
        position: relative;
        top: 100px;
    }
    .navbar-light .navbar-brand {
        width: 100px;
    }
    .main-container{
        overflow-x: hidden;
    }
    .new-view-slider-par-body .owl-carousel .owl-nav button.owl-next {
        left: 0px;
    }
    .new-view-slider-par-body .owl-carousel .owl-nav button.owl-prev {
        right: 0px;
    }
    .news-views-item-body {
        display: block;
    }
    .news-views-item-content {
        margin-top: 38px;
        margin-left: 0px;
    }
    .news-views-item-body-inner {
        width: 100%;
    }
    .common_c {
        display:none;
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-light .navbar-brand {
        width: 125px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }
    .main-container{
        overflow-x: hidden;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-light .navbar-brand {
        width: 125px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .product-tab-content-inner .owl-carousel .owl-stage-outer {
        height:360px!important;
    }
 }


@media (max-width: 920px){
    
}
@media (min-width: 1200px){
    
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .navbar-light .navbar-brand {
        width: 150px;
    }
}
@media (min-width: 1400px) and (max-width: 1599.98px) {
    
}
@media (min-width: 1600px) and (max-width: 5400.98px) {
    .container-fluid {
        max-width: 1600px;
    }
    .c5 {
        top: 50%;
        left: 38%;
        width: 574px;
        transform: rotate(168deg);
    }
    .c11 {
        top: 3%;
        left: 40%;
        width: 412px;
        transform: rotate(348deg);
    }
    .single-page-right-part p {
        line-height: 28px;
        margin-bottom: 20px;
        font-size: 19px;
    }
    h1.section-title {
        font-size: 44px;
    }
    .single-page-left-menu ul li a.nav-link {
        font-size: 22px;
    }
    .modal-lg, .modal-xl {
        max-width: 1250px;
    }
    .t-details {
        font-size: 19px;
    }
    .t_designation {
        font-size: 21px;
    }
    section.single-member-modal .modal-body {
        padding: 10px 35px 47px 35px;
    }
      
}
@media (min-width: 1931px){
    
}